*{
	padding: 0px;
	margin: 0px;
	font-family:  Helvetica;
}
body{
	background: rgb(231, 239, 241);
}
.main{
	width: 100%;
	height: 697px;
}
.main .recent{
	height: 500px;
	width: 500px%;
	float: left;
	margin-left: 170px;
	margin-top: 90px;
}
.main .recent a{
	text-decoration: none;
}
.main .recent span{
	font-size: 35px;
	color: rgb(11, 111, 229);
	font-weight: 30px;
}
.main .recent h3{
	font-size: 25px;
	margin-top: 5px;
}
.main .recent h4{
	margin-top: 3px;
	color: rgb(101, 98, 98);
}
.main .recent .acc{
	height: 200px;
	width: 100%;
}
.main .recent .acc .right{
	height: 200px;
	width: 160px;
	background: white;
	margin-top: 20px;
	border-radius: 5px;
	border-color: rgb(83, 80, 80);
	border-style: ridge;
	border-width: 3px;
	border: 1px solid black;
	cursor: pointer;
	border: 1px solid #BCC4CA;
}
.main .recent .right img{
	height: 160px;
	width: 160px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.main .recent .right h3{
	text-align: center;
	color: rgb(46, 43, 43);
	font-size: 17px;
}
.main .recent .right .icon{
	margin-top: -188px;
	margin-left: 3px;
	color: white;

}
.main .recent .acc .left{
	height: 200px;
	width: 160px;
	margin-left: 200px;
	margin-top: -200px;
	background: white;
	border-radius: 5px;
	border-color: rgb(83, 80, 80);
	border-style: ridge;
	border-width: 3px;
	border: 1px solid black;
	border: 1px solid #BCC4CA;
}
.main .recent .acc .left img{
	height: 160px;
	width: 160px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.main .recent .acc .left H1{
	font-size: 20px;
	text-align: center;
	color: #589DEF;
}
.main .login{
	height: 500px;
	width: 30%;
	float: right;
	margin-right: 150px;
	margin-top: 80px;
}
.main .login .loginform{
	height: 355px;
	width: 100%;
	align-items: center;
	background: white;
	margin-top: 60px;
	border-radius: 5px;
	border-width: medium;
	box-shadow: 0px 4px 5px rgba(37, 34, 34, 0.25)
}
label{
	margin-left: 20px;
	margin-right: 30px;

}
.idname{
	height: 45px;
    width: 80%;
    margin-top: 25px;
    border-radius: 4px;
    padding-left: 30px;
    font-size: 20px;
    border: 1px solid #BCC4CA;
}
.pasw{
	height: 45px;
    width: 80%;
    margin-top: 25px;
    border-radius: 4px;
    padding-left: 30px;
    border: 1px solid #BCC4CA;
    font-size: 20px;

}
.log{
	height: 45px;
    width: 88%;
    margin-top: 25px;
    border-radius: 4px;
    text-align: center;
    background: #589DEF;
    border: 1px solid #BCC4CA;
    font-size: 20px;
    color: white;
    font-weight: 30px;
}
label a{
	text-decoration: none;
}
label a font{
	text-align: center;
	margin-top: 5px;
}
hr{
	width: 87%;
	margin-left: 22px;
}
button{
	height: 50px;
	padding: 20px;
	padding-top: 10px;
	background: #1EC02F;
	margin-top: 20px;
	border: 1px solid #BCC4CA;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	margin-left: 85px;
}
h5{
	color: #589DEF;
	margin-left: 120px;
	font-size: 15px;
}
.text{
	padding: 5px;
	margin-top: 15px;
}